[submodule "externals/Core.Text.Parsing.AbstractSyntaxTree"]
	path = externals/Core.Text.Parsing.AbstractSyntaxTree
	url = https://github.com/HolisticWare/HolisticWare.Core.Text.Parsing.AbstractSyntaxTree.git
